.tasks {
    background-color: #FFFFFF;
    position: relative;
    height: 50em;
    left: 19em;
    width: 100em;
    border-left-style: solid;
    border-right-style: solid;
    border-color: black;
    border-width: 1px;
    transition: 0.3s;
    display: flex;
    overflow-x: hidden;
    top: 2.5em;

    h1 {
        position: absolute;
        top: 0em;
        left: 2em;
        font-size: 180%;
    }

    #stats {
        position: absolute;
        top: 4em;
        font-size: 28%;
        left: 0em;
        font-family: 'Roboto', sans-serif;
        width: 11em;
    }
}

.tasksClosed {
    width: 85em;
    margin-left: 15em;
}

.taskClosedStepsOpen {
    margin-left: 15em;
    width: 85em;
    margin-right: 0em;
}

.tasksClosedStepsClosed {
    width: 57em;
}
  
.tasks {
    .subTaskHeader {
        color: #117AD3;
        font-family: 'Roboto', sans-serif;
 
        .categoryDeletion {
            position: relative;
            top: -3.5em;
            cursor: pointer;
            font-family: 'Roboto', sans-serif;
            height: 2em;
            width: 5em;
            font-size: 35%;
            right: -15em;
            background-color: #f2f2f2;
            align-content: center;
            display: none;
        }
        .categoryDeletionVisible {
            display: block;
        }

        .categoryDeletion p {
            position: relative;
            top: 0.5em;
            right: -1em;
            font-weight: normal;
        }
        .contextIcon {
            background: url(/img/options.png);
            position: relative;
            top: 0em;
            right: -1em;
            height: 0.55em;
            display: inline-block;
            width: 0.55em;
            cursor: pointer;;
        }
    }
    .subTaskDetails {
        position: relative;
        padding: 1em 1em 1em 4em;
        font-family: 'Roboto', sans-serif;
        left: -2em;
        overflow-y: auto;
        overflow-x: hidden;
        width: 52em;
        top: 5em;
        
        p {
            cursor: pointer;
        }

        .subTask {
            position: relative;
            width: 70em;
            height: 4em;
            right: -4em;
            top: -1em;
            border-bottom-style: solid;
            border-width: 1px;
            font-family: 'Roboto', sans-serif;
            align-content: center;
            border-color:  #d9d9d9;

            .selectIcon {
                height: 2.5em;
                width: 2.5em;
                display: inline-block;
                position: relative; 
                top: 1.2em;
                left: 0.5em;
            }
            #unCheckedIcon {
                background-image: url("/img/uncheck.png");
            }
              
            #checkedIcon {
                background-image: url("/img/check.png");
            }

            p {
                position: relative;
                top: -1.5em;
                left: 4em;
                font-size: 125%;
            }
        }
    }
    .taskDetails {
        /*position: sticky;
        position: -webkit-sticky;*/
        position: relative;
        left: 6em;
        bottom: -5em;
        width: 49em;
        font-family: 'Roboto', sans-serif;
        border: none;
        height: 3em;
        border-bottom-style: solid;
        border-color:  #d9d9d9;
        border-width: 1px;
        visibility: hidden; 

        .subTaskAddition {
            position: relative;
            left: 19em;
            top: 4.5em;
            width: 5em;
            height: 3em;
            cursor: pointer;
            font-family: 'Roboto', sans-serif;
            display: block;

            .taskAddition {
                position: relative;
                top: -2.4em;
                border: none;
                width: 45em;
                outline: none;
                display: inline-block;
            }
        }
    }

    .showTaskDetails {
        visibility: visible;
      }
}
  
  .taskAdder {
    position: relative;
    height: 1.5em;
    left: 5.3em;
    display: inline-block;
    width: 1.5em;
    top: -1.5em;
  }
  
  .taskDetails input {
    font-size: 100%;
    outline: none;
    position: relative;
    top: -1.6em;
  }
  

  
  .displaySubTasks {
    display: block;
  }
  
  .hideSubTasks {
    display: none;
  }
   

  
  .subTaskClosed {
    width: 50em;
  }
  
  
  #addSub {
    background: url("/img/addList.png");
    background-repeat: no-repeat;
    display: block;
    height: 0.5em;
    width: 1.8em;
    left: 3em;
    top: 4em;
    cursor: pointer;
  }