<div class="tasks tasksClosed" *ngIf = "currentTask != null">
    <div class="subTaskDetails">
        <div class = "subTask" id= {{subTask.id}} (click) = showStepsMenu(subTask) *ngFor = "let subTask of displaySubTasks">
            <div *ngIf="subTask.isAvailable">
                <i (click)= "changeSubTaskStatus(subTask)" class="selectIcon" id="unCheckedIcon"></i>
                <p>{{subTask.info}}</p>
            </div>
            <div *ngIf="!subTask.isAvailable">
                <i (click)= "changeSubTaskStatus(subTask)" class="selectIcon" id="checkedIcon"></i>
                <p><s>{{subTask.info}}</s></p>
            </div>
        </div>
    </div>
    <h1 class= "subTaskHeader" *ngIf = "currentTask">
        
        <input class="taskHeading" [(ngModel)] = "currentTask.name"/>
        <i class="contextIcon"></i>
        <div class="categoryDeletion"></div>
    </h1>
    <div class="taskDetails">
        <div class=subTaskAddition><p>Add Task</p>
            <i id="addList" class="taskAdder"></i>
            <input placeholder="Type here" class="taskAddition"  (keypress) = "saveSubTask($event)">
        </div>
    </div>
</div>

